h1 {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    
    padding: 10px;
    margin: 20px;

}

h1, h2{
    border: 3px blue solid;
    border-radius: 10px;
    text-align: center;
}
p{
    font-size: x-large;
}

.section-one{
    background-color:antiquewhite;
}
.section-two{
    background-color:azure
}
.section-three{
    background-color: black ; color:white
}
.description{
    color: gray;
}

img {
    height: 350px;
    display: block;
    margin: auto;
}

.hobbies {
    background-color: aqua;
}

#footer{
    color: whitesmoke ;
}